<div class="container">
  <table class="middle-box">
    <tr class="row">
      <td class="col">
        <span class="title"> UniBill </span>
        <span class="invoice-data"> Invoice </span>
      </td>
      <td class="col">
        <span class="invoice-info">Invoice ID<br />0x123</span>
      </td>
      <td class="col">
        <span class="invoice-info">Issue Date<br />12/10/2023</span>
      </td>
    </tr>
    <tr class="row">
      <td class="col">
        <span class="title">Name</span>
        <span class="name">Mohab Ahmed</span>
      </td>
      <td class="col">
        <span class="second-title">Phone No</span>
        <span class="phone">+201126889227</span>
      </td>
      <td class="col">
        <span class="second-title">Address</span>
        <span class="address">Cairo</span>
      </td>
      <td class="col">
        <span class="second-title">Apartment No</span>
        <span class="apartment">203</span>
      </td>
    </tr>
    <tr class="row">
      <td class="col">
        <span class="third-title">Due Date</span>
        <span class="due">{{ bill?.dueDate }}</span>
      </td>
      <td class="col">
        <span class="third-title">New Reading</span>
        <span class="new">3422</span>
      </td>
      <td class="col">
        <span class="third-title">Old Reading</span>
        <span class="old">3322</span>
      </td>
      <td class="col">
        <span class="third-title">Units/Average</span>
        <span class="units">100</span>
      </td>
    </tr>
    <tr class="blue-box">
      <td colspan="4">
        <tr class="row">
          <td class="col">
            <span class="charge">Unit Charge</span>
          </td>
          <td><hr class="line" /></td>
          <td class="col">
            <span class="amount-title">Amount</span>
            <span class="money">{{ bill?.amount }}</span>
          </td>
          <td class="col">
            <span class="not-paid-title">If not paid in Due Date</span>
            <span class="money">{{ bill?.notPaid }}</span>
          </td>
        </tr>
      </td>
    </tr>
  </table>
  <button (click)="payPendingBill()" type="submit" class="pending-btn">
    Pay Pending Bill
  </button>
</div>
