<div class="container">
  <div class="navBar">
    <app-nav-bar></app-nav-bar>

  </div>
   

  <main class="dashBoard">
    
    <h1>Dashboard</h1>
    <hr />
    <button class="blue-button moveButton" (click)="logout()">Logout</button>

    <div class="pending">
      <h1>Pending Bills</h1>
    </div>

    <div class="bills">
      <div *ngFor ="let bill of bills" class="billItem">
        <app-card [bill]="bill"></app-card>
      </div>

    </div>
    <div class="pending">
      <h1>Latest Invoices</h1>
    </div>
   

    <div class="invoicesTable">
      <app-table [bills]="bills" [searchedBills]="bills"></app-table>
    </div>
  </main>
</div>
