.container {
  display: flex;
  flex-direction: row;

  padding: 20px;
  gap: 12px;
  border: 1px solid #cbcbcb;
  border-radius: 15px;
  width: fit-content;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
}
.container  p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #797979;
}
.date{

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #797979;
}
.image {
  display: flex;
  background-color: #ffde2e;
  padding: 8px;
  justify-content: center;
  width: 20px;
  margin: 10px 5px;
}
.leftContainer {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
  justify-content: center;
}

.leftContainer p,h3 {

  margin: 10px 5px;
}
