.tableContainer {
  border: 1px solid #cbcbcb;
  border-radius: 4px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 200;
  font-size: 13px;
  line-height: 150%;
  text-align: center;
  width: 100%;
  border-radius: 4px;
}
th {

  color: #797979;
}
td,th {

  padding: 20px 10px;
}
table {
  border-collapse: collapse;
}
table tr{
  border-bottom: 1px solid #cbcbcb;
}

