<table class="tableContainer">
  <thead>
    <tr>
      <th>Invoice Id</th>
      <th>Date</th>
      <th>Amount</th>
      <th>Due Date</th>
      <th>Status</th>
      <th>Type</th>
      <th>Price</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let bill of bills">
      <td (click)="navigateToBillDetails(bill.id)" style="cursor: pointer">
        {{ bill.id }}
      </td>
      <td (click)="navigateToBillDetails(bill.id)" style="cursor: pointer">
        {{ bill.date }}
      </td>
      <td (click)="navigateToBillDetails(bill.id)" style="cursor: pointer">
        {{ bill.amount }}
      </td>
      <td (click)="navigateToBillDetails(bill.id)" style="cursor: pointer">
        {{ bill.dueDate }}
      </td>
      <td (click)="navigateToBillDetails(bill.id)" style="cursor: pointer">
        {{ bill.status }}
      </td>
      <td (click)="navigateToBillDetails(bill.id)" style="cursor: pointer">
        {{ bill.type }}
      </td>
      <td (click)="navigateToBillDetails(bill.id)" style="cursor: pointer">
        {{ bill.price }}
      </td>
    </tr>
  </tbody>
</table>
