<div class="container">
  <img src="../../../assets/Icon.svg" alt="">
  <div class="offer">

  <h1>Telecom Egypt</h1>
  <p>Telecom Egypt offers you a variety of rate plans to fulfill your needs.</p>
  <div class="offerContainer">
    <ol>
      <div class="offerHeader">
        <li>
          WE Space - Super
        </li>
      </div>
      <div class="offerList">
        <ul>
          <li>140GB - 120EGP /month</li>
          <li>200 GB - 170 EGP/month</li>
          <li>250 GB - 210 EGP/month</li>
        </ul>
      </div>

    </ol>
  </div>
