.frame {
  position: absolute;
  left: 40%;
  top: 5%;
  font-style: normal;
  font-family: "Poppins";
  border: 1px solid #cbcbcb;
  border-radius: 4px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main {
  display: flex;
  font-weight: 500;
  font-size: 10px;
  justify-content: left;
  margin-right: auto;
  padding: 40px;
}

.text {
  display: flex;
  color: #000000;
  justify-content: center;
  align-items: center;
  padding: 20px;
  flex-direction: column;
}

.text input[type="text"],
.text input[type="date"] {
  background: #ffffff;
  border: 1px solid #797979;
  border-radius: 4px;
}
.bill-btn {
  margin: 20px;
  padding: 20px;
  font-size: 16px;
  background-color: #797979;
  color: #fff;
  border: none;
  cursor: pointer;
  width: 50%;
  border-radius: 20px;
}
.inputs-container {
  display: flex;
  flex-direction: column;
}
input,
select {
  text-align: center;
  width: 400px;
  box-sizing: border-box;
  padding: 10px;
}

label {
  padding: 10px;
}
.errorStyle {
  border: 1px solid red !important;
}

div.errorMessage {
  color: red;
  font-size: 15px;
  margin-top: 1px;
  margin-bottom: 2px;
  text-align: center;
  margin-inline: auto;
}
