<div class="container">
  <table class="tableContainer">
    <thead>
      <tr>
        <th>Invoice ID</th>
        <th>Date</th>
        <th>Amount</th>
        <th>Due Date</th>
        <th>Status</th>
        <th>Type</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let bill of bills">
        <td>{{bill.id}}</td>
        <td>{{bill.date}}</td>
        <td>{{bill.amount}}</td>
        <td>{{bill.dueDate}}</td>
        <td>{{bill.status}}</td>
        <td>{{bill.type}}</td>
        <td>
          <button [disabled]="bill.status === 'paid'" (click)="payBill(bill)" class="blue-button" *ngIf="bill.status !== 'paid'">Pay Bill</button>
          <span *ngIf="bill.status === 'paid'">Paid</span>
        </td>
      </tr>
    </tbody>
  </table>
  <div>
    <button (click)="navigate()" class="blue-button">Add Bill</button>
  </div>
</div>
