/* You can add global styles to this file, and also import other style files */

* {
  margin: 0px 0px;
}
a {

  transition: none;
}
:root
{
  --navWidth : 264px
}
main{
  margin-inline-start: var(--navWidth);
  width: 100%;
}
