img {
  width: 115px;
  margin: 30px 25px;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: #797979;
}

.container {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  border-right: 1px solid #797979;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #fff;
  width: var(--navWidth);
}

.routes {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  padding-inline: 16px;
}

.items a {
  display: flex;
  align-items: center;
  width: 100%;
  height: 60%;
  border-radius: 8px;
  color: #797979;
  transition: background-color 0.2s ease-in-out;
  text-align: left;
  box-sizing: border-box;
  padding: 0 10px;
}

.items a:hover {
  background-color: #d7d7d7;
}

.items a:active,
.items a:focus {
  color: #ffffff;
  background-color: #2952bb;
  outline: none;
}
.icons {
  width: 18px;
  height: 18px;
  margin-right: 8px;
}
a:focus {
  color: white;
}
